CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y

# ESP32-S3-EYE: ESP32-S3-WROOM-1-N8R8 -> 8 MB flash + 8 MB Octal PSRAM
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# camera frames land in PSRAM, so allow the allocator to use it
CONFIG_SPIRAM_USE_MALLOC=y
